<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="globe-outline"></ion-icon>2º DAM</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title><ion-icon name="git-network-outline"></ion-icon>2º DAM</ion-title>
    </ion-toolbar>
  
  <ion-list>
  <ion-item *ngFor = "let elemento of elementos" >
    <ion-avatar slot="start">
      <img src={{elemento.icono}}>
    </ion-avatar>
    <ion-label>{{elemento.asignatura}}</ion-label>
    <ion-checkbox color={{elemento.color}} [(ngModel)] = "elemento.isChecked"></ion-checkbox>
  </ion-item>
</ion-list>

</ion-content>
