<ion-header>
  <ion-toolbar>
    <ion-title>fct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-title><ion-icon name="warning-outline"></ion-icon>FCT</ion-title>
  </ion-toolbar>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de items</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bienvenido a la página FCT de la mejor página web de la clase.
    </ion-card-content>

    <ion-item><ion-icon name="key-outline"></ion-icon>LLAVES</ion-item>
    <ion-item><ion-icon name="language-outline"></ion-icon>CHINO</ion-item>
    <ion-item><ion-icon name="musical-note-outline"></ion-icon>
      MÚSICA</ion-item>
    <ion-item><ion-icon name="magnet-outline"></ion-icon>
      IMÁN</ion-item>
    <ion-item><ion-icon name="notifications-outline"></ion-icon>
      CAMPANA</ion-item>
    <ion-item><ion-icon name="partly-sunny-outline"></ion-icon>NUBES</ion-item>
    <ion-item><ion-icon name="pie-chart-outline"></ion-icon>GRÁFICO</ion-item>
    <ion-item><ion-icon name="pizza-outline"></ion-icon>PIZZA</ion-item>
    <ion-item><ion-icon name="pricetags-outline"></ion-icon>
      ETIQUETAS</ion-item>
    <ion-item><ion-icon name="reorder-four-outline"></ion-icon>LISTA</ion-item>
    <ion-item><ion-icon name="storefront-outline"></ion-icon>HOGAR</ion-item>

  </ion-card>
 
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button >
      <ion-fab-list side="top">
        <ion-fab-button href="https://www.youtube.com/?gl=ES&hl=es"><ion-icon name="logo-youtube" color="danger"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button href="https://www.instagram.com/"><ion-icon name="logo-instagram" color="dark"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
