<ion-header>
  <ion-toolbar>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar><ion-back-button color="dark" text="INICIO" defaultHref="/inicio"></ion-back-button></ion-toolbar>
  

  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="primero-dam">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>1º DAM</ion-label>
      </ion-tab-button>
     

     
      <ion-tab-button tab="segundo-dam">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>2º DAM</ion-label>
      </ion-tab-button>
    
      <label>He conseguido hacer un commit usando GIT </label>
     
      <ion-tab-button tab="fct">
        <ion-icon name="logo-apple"></ion-icon>
        <ion-label>FCT</ion-label>
      </ion-tab-button>

     </ion-tab-bar>
     </ion-tabs>
</ion-content>
